.screen {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.screen .div {
  background-color: var(--n-50);
  width: 1536px;
  height: 1280px;
  position: relative;
}
.screen .text-wrapper {
  position: absolute;
  top: 119px;
  left: 100px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: var(--n-800);
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}
.screen .navigation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
  top: 0;
  left: 0;
  background-color: var(--main-green-2);
}
.screen .frame {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 22px;
  left: 100px;
}
.screen .img {
  position: relative;
  width: 24px;
  height: 24px;
}
.screen .text-wrapper-2 {
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-ExtraLight", Helvetica;
  font-weight: 200;
  color: var(--white);
  font-size: 24px;
  letter-spacing: -2.4px;
  position: relative;
  line-height: normal;
}
.screen .navbar {
  display: inline-flex;
  align-items: center;
  gap: 128px;
  position: absolute;
  left: 474px;
}
.screen .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: var(--white);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.screen .frame-2 {
  display: flex;
  flex-direction: column;
  width: 1337px;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 234px;
  left: 100px;
}
.screen .frame-3 {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.screen .frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--white);
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--n-200);
}
.screen .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}
.screen .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.screen .frame-5 {
  display: inline-flex;
  align-items: center;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}
.screen .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: var(--n-800);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.screen .frame-6 {
  display: flex;
  flex-direction: column;
  width: 464px;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}
.screen .frame-7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.screen .text-wrapper-5 {
  position: relative;
  width: 21px;
  margin-top: -1px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: var(--n-600);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.screen .frame-8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.screen .group {
  position: relative;
  width: 38px;
  height: 48.36px;
}
.screen .element-wrapper {
  position: relative;
  width: 38px;
  height: 48.36px;
  background-image: url(./img/vector-3.svg);
  background-size: 100% 100%;
}
.screen .text-wrapper-6 {
  position: absolute;
  width: 36px;
  top: 12px;
  left: 1px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: var(--white);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .frame-9 {
  display: flex;
  flex-direction: column;
  width: 769px;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: relative;
}
.screen .frame-10 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}
.screen .frame-11 {
  display: flex;
  width: 372px;
  align-items: center;
  padding: 24px 72px;
  position: relative;
  background-color: var(--white);
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--n-200);
}
.screen .frame-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}
.screen .frame-13 {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}
.screen .overlap-group-wrapper {
  position: relative;
  width: 102px;
  height: 100px;
  margin-right: -2px;
}
.screen .overlap-group {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: var(--main-green-1);
  border-radius: 50px;
}
.screen .ellipse {
  position: absolute;
  width: 88px;
  height: 88px;
  top: 6px;
  left: 6px;
  background-color: var(--white);
  border-radius: 44px;
}
.screen .text-wrapper-7 {
  position: absolute;
  top: 26px;
  left: 26px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: var(--n-800);
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.screen .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: var(--main-green-2);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.screen .frame-14 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}
.screen .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: var(--n-800);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  margin-bottom: -1.8px;
}
.screen .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: var(--n-800);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.screen .frame-15 {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}
.screen .frame-16 {
  display: flex;
  width: 372px;
  align-items: center;
  gap: 10px;
  padding: 36px;
  position: relative;
  align-self: stretch;
  background-color: var(--white);
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--n-200);
}
.screen .frame-17 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}
.screen .frame-18 {
  gap: 24px;
  padding: 0px 0px 0px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}
.screen .frame-19 {
  display: flex;
  flex-direction: column;
  width: 163px;
  align-items: center;
  gap: 22px;
  position: relative;
  flex: 0 0 auto;
}
.screen .frame-20 {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.screen .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: var(--n-800);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.screen .text-wrapper-12 {
  align-self: stretch;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: var(--n-800);
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  position: relative;
  line-height: normal;
}
.screen .text-wrapper-13 {
  position: relative;
  align-self: stretch;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: var(--main-green-3);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.screen .frame-21 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}
.screen .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: var(--main-green-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.screen .frame-22 {
  display: flex;
  width: 372px;
  height: 255px;
  align-items: center;
  padding: 24px 36px;
  position: relative;
  background-color: var(--white);
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--n-200);
}
.screen .frame-23 {
  justify-content: center;
  padding: 0px 24px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}
.screen .frame-24 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}
.screen .text-wrapper-15 {
  position: relative;
  width: 163px;
  margin-top: -1px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: var(--n-800);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.screen .element {
  position: relative;
  width: fit-content;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.screen .span {
  color: #2c3e50;
}
.screen .text-wrapper-16 {
  color: #1abc9c;
}
.screen .button-small-green {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--main-green-2);
  border-radius: 12px;
  cursor: pointer;
}
.screen .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--white);
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.14px;
  line-height: normal;
}
.screen .frame-25 {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.screen .frame-26 {
  display: flex;
  flex-direction: column;
  width: 429px;
  align-items: flex-start;
  padding: 24px;
  position: relative;
  background-color: var(--white);
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--n-200);
}
.screen .frame-27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.screen .text-wrapper-18 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--n-800);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}
.screen .frame-28 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.screen .p {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: var(--n-600);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.screen .frame-29 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}
.screen .text-wrapper-19 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--main-green-2);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.screen .frame-30 {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.screen .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--main-green-2);
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.screen .group-32 {
  position: relative;
  width: 430px;
  height: 253px;
}
.screen .frame-31 {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 253px;
  align-items: flex-start;
  gap: 10px;
  padding: 24px;
  position: relative;
  background-color: var(--white);
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--n-200);
}
.screen .frame-32 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.screen .frame-33 {
  display: flex;
  flex-direction: column;
  width: 267px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}
.screen .text-wrapper-21 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: var(--n-800);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}
.screen .text-wrapper-22 {
  position: relative;
  width: fit-content;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: var(--n-600);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.screen .frame-34 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.screen .frame-35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 48px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--n-50);
}
.screen .text-wrapper-23 {
  position: relative;
  width: 66px;
  margin-top: -1px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--n-800);
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: normal;
}
.screen .text-wrapper-24 {
  position: relative;
  width: 66px;
  margin-top: -1px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--n-600);
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: normal;
}
.screen .frame-36 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 48px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--white);
}
.screen .frame-37 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}
.screen .text-wrapper-25 {
  position: relative;
  width: fit-content;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: var(--n-800);
  font-size: 15px;
  letter-spacing: -0.15px;
  line-height: normal;
  white-space: nowrap;
}
.screen .text-wrapper-26 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: var(--n-800);
  font-size: 15px;
  letter-spacing: -0.15px;
  line-height: normal;
  white-space: nowrap;
}
.screen .text-wrapper-27 {
  position: relative;
  width: 66px;
  margin-top: -1px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: var(--n-600);
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: normal;
}

.disabled-water-drop {
  background-image: url("/img/disabledWaterDrop.svg");
  background-size: 100% 100%;
}

.red-water-drop {
  background-image: url("/img/redWaterDrop.svg");
  background-size: 100% 100%;
}

.yellow-water-drop {
  background-image: url("/img/yellowWaterDrop.svg");
  background-size: 100% 100%;
}

.green-water-drop {
  background-image: url("/img/greenWaterDrop.svg");
  background-size: 100% 100%;
}

.gray-water-drop {
  background-image: url("/img/grayWaterDrop.svg");
  background-size: 100% 100%;
}

.overlap-group-wrapper {
  position: relative;
  width: 102px;
  height: 100px;
  margin-right: -2px;
}

.overlap-group {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: var(--main-green-1);
  border-radius: 50px;
}

.ellipse {
  position: absolute;
  width: 88px;
  height: 88px;
  top: 6px;
  left: 6px;
  background-color: var(--white);
  border-radius: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.woman-crown {
  width: 60%; /* Adjust to fit within the circle */
  height: 60%; /* Maintain aspect ratio within the circle */
  object-fit: contain;
}

.rice {
  width: 48px;
  height: 48px;
}

.money {
  width: 64px;
  height: 64px;
}

.smallImage {
  width: 15px;
  height: 15px;
}

.dotButton {
  cursor: pointer;
}
