.element {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.element .group-wrapper {
  background-color: var(--n-50);
  width: 1536px;
  height: 864px;
}
.element .group {
  position: relative;
  width: 512px;
  height: 721px;
  top: 72px;
  left: 512px;
}
.element .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  position: relative;
}
.element .div {
  display: flex;
  align-items: center;
  gap: 76px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.element .vector {
  position: relative;
  width: 12px;
  height: 24px;
}
.element .overlap-wrapper {
  position: relative;
  width: 336px;
  height: 36px;
}
.element .overlap {
  position: relative;
  height: 36px;
}
.element .line {
  position: absolute;
  width: 300px;
  height: 2px;
  top: 16px;
  left: 18px;
}
.element .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 64px;
  position: absolute;
  top: 0;
  left: 0;
}
.element .overlap-group-wrapper {
  position: relative;
  width: 38px;
  height: 36px;
}
.element .overlap-group {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: var(--main-green-2);
  border-radius: 18px;
  border-color: var(--main-green-2);
}
.element .text-wrapper {
  position: absolute;
  top: 8px;
  left: 14px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: var(--white);
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: normal;
  white-space: nowrap;
}
.element .text-wrapper-2 {
  left: 13px;
  position: absolute;
  top: 8px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: var(--white);
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: normal;
  white-space: nowrap;
}
.element .text-wrapper-3 {
  left: 12px;
  text-align: center;
  position: absolute;
  top: 8px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: var(--white);
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: normal;
  white-space: nowrap;
}
.element .div-wrapper {
  position: relative;
  width: 38px;
  height: 36px;
  margin-right: -2px;
}
.element .text-wrapper-4 {
  left: 12px;
  position: absolute;
  top: 8px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: var(--white);
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: normal;
  white-space: nowrap;
}
.element .frame-wrapper {
  display: flex;
  flex-direction: column;
  height: 525px;
  align-items: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
}
.element .frame-3 {
  display: inline-flex;
  flex-direction: column;
  height: 599px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  margin-bottom: -74px;
}
.element .p {
  position: relative;
  align-self: stretch;
  height: 58px;
  margin-top: -1px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: var(--n-800);
  font-size: 24px;
  letter-spacing: -0.24px;
  line-height: normal;
}
.element .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}
.element .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.element .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: var(--n-600);
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: normal;
  white-space: nowrap;
}
.element .frame-6 {
  display: flex;
  flex-direction: column;
  width: 512px;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 96px 0px;
  position: relative;
  flex: 0 0 auto;
}
.element .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}
.element .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: var(--n-800);
  font-size: 96px;
  letter-spacing: -0.96px;
  line-height: normal;
  white-space: nowrap;
}
.element .frame-8 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}
.element .vector-wrapper {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: var(--main-green-2);
  border-radius: 16px;
}
.element .img {
  height: 2px;
  top: 15px;
  position: absolute;
  width: 16px;
  left: 8px;
}
.element .group-2 {
  position: relative;
  width: 114px;
  height: 51px;
}
.element .overlap-group-2 {
  position: relative;
  width: 112px;
  height: 51px;
  background-color: var(--white);
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--n-200);
}
.element .text-wrapper-7 {
  position: absolute;
  top: 15px;
  left: 38px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--n-800);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.element .vector-2 {
  height: 16px;
  top: 8px;
  position: absolute;
  width: 16px;
  left: 8px;
}
.element .group-3 {
  position: relative;
  width: 514px;
  height: 64px;
  margin-right: -2px;
}
.element .overlap-2 {
  position: relative;
  width: 512px;
  height: 64px;
  background-color: var(--main-green-2);
  border-radius: 12px;
}
.element .text-wrapper-8 {
  position: absolute;
  top: 20px;
  left: 239px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: var(--white);
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.2px;
  line-height: normal;
  white-space: nowrap;
}
