p {
  margin: 0;
}

.element {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.group-wrapper {
  background-color: var(--n-50);
  width: 100%;
  max-width: 1536px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.img {
  width: 64px;
  height: 64px;
}
.div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.p {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #262626;
  font-size: 24px;
  letter-spacing: -0.24px;
  text-align: center;
  line-height: normal;
}
.text-wrapper {
  color: #262626;
  letter-spacing: -0.06px;
}
.span {
  color: #1abc9c;
  letter-spacing: -0.06px;
}
.overlap-group-wrapper {
  width: 514px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlap-group {
  width: 512px;
  height: 64px;
  background-color: var(--main-green-2);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.text-wrapper-2 {
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: var(--white);
  font-size: 20px;
  letter-spacing: -0.2px;
  white-space: nowrap;
  text-align: center;
  line-height: normal;
}
.p {
  span {
    display: block;
  }
}
