body {
  background: var(--n-50, #fafafa);
}
.element {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  width: 100%;
  background: var(--n-50, #fafafa);
}
.main-frame {
  position: absolute;
  top: 142px;
  left: 100px;
  width: 543px;
  height: 700px;
  padding-left: 50px;
  background: var(--white, #fff);
  border-radius: 8px;
  border: 1px solid var(--n-200, #e5e5e5);
  border-color: #e5e5e5;
}
.frame1 {
  padding-top: 40px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 700;
  font-size: 18px;
}

.frame-wrap1 p {
  margin-bottom: 7px;
  font-family: "Pretendard-Regular", Helvetica;
}
.frame-wrap2 p,
.frame-wrap4 p,
.frame-wrap3 p,
.frame-wrap5 p {
  margin-bottom: 7px;
  font-family: "Pretendard-Regular", Helvetica;
}

.frame2,
.frame3,
.frame5,
.frame4,
.frame6 {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.frame2 input,
.frame3 input,
.frame5 input,
.frame6 input {
  width: 85%;
  height: 40px;
  padding: 0 10px;
  border-radius: 8px;
  border: 1px solid var(--n-300);
  box-sizing: border-box;
  font-family: "Pretendard-Regular", Helvetica;
  margin-right: 40px;
  width: 100%;
}
.text-wrap1 {
  padding-right: 10px;
  font-family: "Pretendard-Regular", Helvetica;
  padding-left: 3px;
}
.frame7 button {
  box-sizing: border-box;
  border-radius: 12px;
  padding: 12px 16px;
  border: 1px solid var(--main-green-2);
  background-color: var(--main-green-2);
  color: white;
}
.fix-frame button {
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid var(--n-200, #e5e5e5);
  background: var(--n-100, #f5f5f5);
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: -5px;
  font-size: 14px;
  font-family: "Pretendard", Helvetica;
}
.frame7 {
  position: absolute;
  display: flex;
  top: 40px;
  margin-left: 393px;
  font-size: 14px;
  font-family: "Pretendard-Regular", Helvetica;
}
.drink-wrap {
  margin-bottom: 10px;
}
.drink-text {
  span {
    display: block;
  }
}
.drink-num {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.drink-num input {
  width: 15%;
  height: 40px;
  padding: 0 7px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Pretendard-Regular", Helvetica;
}
.minus {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: var(--main-green-2);
  border: 1px solid var(--main-green-2);
  color: white;
  margin-right: 12px;
}
.plus {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: var(--main-green-2);
  border: 1px solid var(--main-green-2);
  color: white;
  margin-left: 12px;
}
.drink-num img {
  display: flex;
  width: 12px;
  height: 12px;
  padding-right: 1px;
}
.logout-text {
  position: absolute;
  top: 900px;
  left: 321.5px;
  font-family: "Pretendard-Regular", Helvetica;
}
#logout-link {
  color: black;
  text-decoration: underline;
}
[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid var(--n-300);
  border-radius: 50%;
  background-color: var(--n-300);
  content: "✓";
  color: white;
}

[type="radio"]:checked {
  border: 1px solid var(--main-green-2);
  background-color: var(--main-green-2);
}
.frame-4-1 p {
  position: absolute;
  margin-top: -25px;
  margin-left: 3px;
  font-size: 16px;
  color: white;
}
.drink-num p {
  margin-top: -3px;
}
.frame-setting {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  padding-bottom: 42px;
}
